h1 {
    color: green;
}

.titleSection {
    color: green;
    font-size: 3.5rem;
    font-weight: bold;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}